<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
  <p><label>Name<input id="landmark_name" type="text" name="landmark[name]"></label></p>
  <p><label>Year Completed<input id="landmark_year_completed" type="text" name="landmark[year_completed]"></label></p>
  <input type="submit" value="Create New Landmark">
</form>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
